.item {
  position: relative;
  width: calc((100% - 32px * 3) / 4);
  height: 424px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 16px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 28px;
}