.home_container{
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  width: 100%;
  height: 90vh;
  background-image: url(../public/img/Picture-1-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.page_info{
   margin-top: auto;
 margin-bottom: 60px;
}

.title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 60px;
line-height: 1.2;
text-align: center;
color: var(--white);
margin-bottom: 16px;
}

.text{
    font-family: var(--font-family);
font-weight: 600;
font-size: 24px;
line-height: 1.33333;
text-align: center;
color: var(--white);
margin-bottom: 40px;
}

.view_btn{
    display: block;
    width: fit-content;
    margin: 0 auto;
  border-radius: 12px;
padding: 12px 99px;
height: 44px;
background: var(--button);
font-family: var(--font-family);
font-weight: 600;
font-size: 16px;
line-height: 1.25;
color: var(--white);
text-align: center;
}